
@{
    ViewBag.Title = "Over-Remittance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="recent-activity my-listing">
    <div class="act-title">
        <h5>Over-Remittance (<span class="over-remittance-count">@((ViewData["overRemittanceList"] as List<PVAOWeb.Controllers.OverRemitance>).Count)</span>)</h5>
        <p>Over-remittances for late termination of DW - Disability Pension (Surviving Spouse), DC - Disability Pension (Minor) & TP - Death Pension (Parent)</p>
        <p class="breadcrumbs">
            <i class="fa fa-link"></i>
            <a href="/Dashboard/Index">Dashboard</a> / <span class="subheader-text">Over-Remittance</span>
        </p>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form class="hero__form v1 filter listing-filter property-filter">
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 py-3 pr-0">
                        <label>Benefit Status</label>
                        <select name="benefit_code">
                            <option value="">-- All --</option>
                            @foreach (var bs in (List<PVAOWeb.Controllers.BenefitStatus>)ViewData["benefitStatusList"])
                            {
                                <option value="@bs.code" @(((string)ViewData["benefit_code"] == bs.code) ? "selected" : "")>@string.Format("{0} - {1}", bs.code, bs.name)</option>
                            }
                        </select>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 py-3 pr-0">
                        <label>Year</label>
                        <select name="year">
                            <option value="">-- All --</option>
                            <option>@DateTime.Now.ToString("yyyy")</option>
                            @for (int i = -1; i >= -10; i--)
                            {
                                <option value="@(DateTime.Now.AddYears(i).ToString("yyyy"))" @(((string)ViewData["year"] == DateTime.Now.AddYears(i).ToString("yyyy")) ? "selected" : "")>@(DateTime.Now.AddYears(i).ToString("yyyy"))</option>
                            }
                        </select>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 py-3 pr-0">
                        <label>Month</label>
                        <select name="month">
                            <option value="">-- All --</option>
                            @for (int i = 0; i <= 11; i++)
                            { 
                                <option value="@(new DateTime(2000, 1, 1).AddMonths(i).ToString("MM"))" @(((string)ViewData["month"] == (new DateTime(2000, 1, 1).AddMonths(i).ToString("MM"))) ? "selected" : "")>@(new DateTime(2000, 1, 1).AddMonths(i).ToString("MMMM"))</option>
                            }
                        </select>
                    </div>
                    <div class="col-xl-10 col-lg-6 col-md-6 col-sm-12 col-12 py-3 pr-0">
                        <div class="input-search">
                            <input name="search_text" value="@((string)ViewData["search_text"])" id="over-remittance-search-text" type="text" placeholder="Search Over-Remittane here...">
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-6 col-md-6 col-sm-12 col-12 py-3 pr-0">
                        <div class="submit_btn">
                            <button class="search-over-remittance-btn btn v3" type="submit">Search</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="page db-booking-wrap table-content table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>VDMS Number</th>
                    <th>Beneficiary Name</th>
                    <th>Age</th>
                    <th>Gender</th>
                    <th>Claim Number</th>
                    <th>Benefit Code</th>
                    <th>Over-Remittance Amount</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var or in (List<PVAOWeb.Controllers.OverRemitance>)ViewData["overRemittanceList"])
                { 
                <tr>
                    <td>@or.VDMSNumberToString()</td>
                    <td>@or.BeneficiaryName</td>
                    <td>@or.Age()</td>
                    <td>@or.Gender</td>
                    <td>@or.ClaimNumber</td>
                    <td>@or.BenefitCode.code</td>
                    <td>@or.Amount</td>
                    <td>@or.Status</td>
                    <td>
                        <button type="button" class="btn btn-info">View</button>
                    </td>
                </tr>
                }
                
            </tbody>
        </table>
    </div>
</div>

